		<div class="container">
			<h2>
				<%= @announcement.title %>
			</h2>
			<h2>
				<%= @announcement.date %>
			</h2>
			<%= raw @announcement.content %>
			<div data-no-turbolink class='archive-button'>
				<%= link_to announcements_path do %>
				<button type="button" class="btn btn-default">Announcement Archive</button>
				<% end %>
			</div>
		</div>

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>