<section class="container">
	<div class="col-md-8 col-md-offset-2">
    <h1 class='category'>AP Chemistry</h1>
    <div class="btn-group sub-filter outline">
        <button type="button" class="btn btn-default regular">AP Chemistry</button>
        <button type="button" class="btn btn-default honors">Honors Chemistry</button>
        <button type="button" class="btn btn-default regular">Regular Chemistry</button>
    </div>
    <section class="article AP">
		<h2>Course Description</h2>
        <p>This is a two semester regular chemistry course identical to the courses offered by all four year universities. The goal of this course is to take and pass the College Board Advanced Placement Test in Chemistry. This test is given every May at a cost of approximately $85. Students must take the AP test to be in the class
        </p>
        <h2>Prerequisites</h2>
        <p>In order to enroll in this class you must have passed Chemistry AB (with a grade of C or better) and should be in Algebra 2 or above. Anyone not meeting these requirements must speak to me immediately. Without these requirements you will probably not do that well in the course. Since this course is in demand I reserve the final entrance requirement as my own decision.</p>
        <h2>Textbooks</h2>
        <p>The primary text for this course is Chemistry: Seventh Edition by Zumdahl and Zumdahl. It is recommended however that you examine more than just this text. It is my advice that you examine at least one extra textbook per chapter to get an alternative view on the material presented. Visit the library and get some books!</p>
        <h2>Grading Policy</h2>
        <p>Homework will be assigned regularly and collected according to the syllabus distributed every week via the webpage. These problem sets will be recorded and returned to you as soon as possible. Homework is for your benefit and is only a small part of your final grade. I guarantee you that ignoring the homework will cause you to fail this class. It is recommended that you do much beyond the assigned homework. The key to chemistry is problem solving and critical thinking skills.</p>
        <p>Tests will be given at the end of every chapter and will be worth 100 points. The tests will be made of questions that I write myself and occasional questions off AP exams from previous years. All tests are closed book and closely resemble the actual AP exam given in May. You are always allowed to use a scientific calculator and a periodic table (that I provide) for your tests. The laboratory portion of this course is extremely important to receive your college credit for the class. We will have an after school lab period.</p>
        <p>There will be two and sometimes three quizzes each week in this class. Thee is no make up for these quizzes and missing them will result in a zero for that quiz. Attendance is vital to your performance in this class. Do not miss any school!
        </p>
        <p>Labs will require two forms of evaluation. The first is a bound lab book (not loose leaf) that you must purchase immediately. All the original data for your labs will be recorded here and graded about every five weeks. In addition you must prepare a lab report for every experiment that you perform. This is the standard method used at thousands of universities across the country. When you try to use your AP scores to place out of your Regular Chemistry classes the instructors will most likely ask to see your record of experiments before giving you credit. This book will serve as your lab record. Calculations for lab reports should be performed directly in the lab book the night of the lab experiment. This will prevent confusion about data points and procedures.</p>
        <p>Your lab book is not going to be perfectly neat. Accept this and just live with it. Make it legible and keep it organized but make sure your prelab exercises are done before coming to lab. Lab experiments will usually take place on Wednesday and Thursday afternoons from 3:15 to 5:15. Lab period is mandatory. You will sign up for a lab day the second week of school. You can not turn in the same report as your lab partner with your name at the top. Even if you do work together you are responsible for writing your own report. Turning in work by someone else is cheating and will be dealt with swiftly.</p>
        <p>AP Practice exams will be given regularly. In addition in the weeks before the AP you will take two entire AP exams under exam conditions. Attendance at these practice exams is mandatory!</p>
        <h2>Integrity</h2>
        <p><b>Integrity is a vital part of any course. I encourage you to work with others and get help as often and as much as you wish. Active participation in a student organized study group is highly encouraged. In addition I will be glad to work any problem for you during my office hours. I however demand that you credit any person who helped you with a problem. This will not be counted against you but will provide proper and professional recognition, a trait I hope you will carry on in your scientific careers. Failure to do this will only hurt you in your future work. Because of the high rate of cheating there will be several restrictions placed on you as students. Any student found or suspected of cheating will be subject to the cheating policy enforced by the Dean of Students. The burden of proof for cheating does not lie with the instructor. These rules will be enforced for suspicion of cheating also.</b></p>
        <h2>Responsibility</h2>
        <p>It seems that many students have trouble understanding what this word means. You must have your homework ready to be turned in when you arrive at the room. Do not think that you may spend 15 minutes or even 15 seconds looking for where you have put it, finishing one question, or even writing your name on it. Do these things at home. Work is due when you arrive at the room. In addition this same concept extends to bringing your materials, books, calculators, and the tools that are necessary for you to do your job, the job of being a student. Remember that while you are in my course it is my objective to prepare you for the real world and the consequences that you face will be of the same level as those in the real world. If you come without your tools, you can’t work, and hence will not be paid for that day. You will not receive credit for the work assigned and or collected that day.</p>
        <p>Your attendance and attention are mandatory for this course. Let no person or no thing prevent you from attending this class regularly. I promise to be in school and ready for you whenever humanly possible. It is my personal commitment that you perform well in this course. Please extend the same to me.</p>
        <p>I pass out a syllabus every week via the web that lists your homework. I will never accept the answer/excuse that you didn't know an assignment was due. All assignments are listed two weeks in advance. Keep this in your notebook. A separate binder for AP Chemistry is necessary. You should have dividers with the following headings:</p>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>1.Syllabus</td>
                    <td>4.Tests</td>
                </tr>
                <tr>
                    <td>2.Handouts</td>
                    <td>5.Labs</td>
                </tr>
                <tr>
                    <td>3.Lecture Outlines</td>
                    <td>6.Homework</td>
                </tr>
            </tbody>
        </table>
        <p>There are many ways to communicate with me. Don’t lose the following number:</p>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>School</td>
                    <td>(323) 227-4400 ext 1503</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>mmorgan@lausd.net</td>
                </tr>
            </tbody>
        </table>
        <p>Also remember that our web page is: www.morganchem.com</p>
        <p>The lecture notes for this course are prepared by me and distributed as an outline. The student fills these in while I lecture. This has proven to be very effective in keeping students on track during class and while preparing for a class that you missed. Keep a good collection of these and review them often.</p>
	</section>
    <section class="article Honors hidden">
        <h2>Course Outline</h2>
        <p>The purpose of this class is to examine the concepts and ideas of chemistry. It requires the use of many mathematical techniques and applications of technology as they relate to laboratory skills and data acquisition. Many current research areas will be emphasized to provide a background necessary for student research. The major difference between this class and the regular chemistry course is the level of research that is expected of students and the mathematical detail that is used in the course. The topics we will be covering this semester are:</p>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>The Mathematical Basis of Chemistry</td>
                </tr>
                <tr>
                    <td>Atoms, Molecules, and Ions</td>
                </tr>
                <tr>
                    <td>The Periodic Table and Structure of Molecule</td>
                </tr>
                <tr>
                    <td>Chemical Reactions and Quantitative Changes in Reactions </td>
                </tr>
                <tr>
                    <td>Light and its Application</td>
                </tr>
            </tbody>
        </table>
        <h2>Grading</h2>
        <p>All tests are worth 100 points. The final is worth 150 points. Homework will be assigned daily and will be collected at the beginning of the class. Late homework will not be tolerated for any reason. There will be no make up work except for excused absences. </p>
        <h2>Responsibility</h2>
        <p>It seems that many students have trouble understanding what this word means. You must have your homework ready to be turned in when you arrive at the room. Do not think that you may spend 15 minutes or even 15 seconds looking for where you have put it, finishing one question, or even writing your name on it. Do these things at home. Work is due when you arrive at the room. In addition this same concept extends to bringing your materials, books, calculators, and the tools that are necessary for you to do your job, the job of being a student. Remember that while you are in my course it is my objective to prepare you for the real world and the consequences that you face will be of the same level as those in the real world. If you come without your tools, you can’t work, and hence will not be paid for that day. You will not receive credit for the work assigned and or collected that day.</p>
        <h2>Cheating</h2>
        <p>Cheating of any type will not be tolerated. If you are caught or suspected of cheating on a homework, lab or test you will be subjected to the schools cheating policy to the fullest extent. The burden of proof does not lie with the instructor</p>
        <h2><b>Classroom Rules</b></h2>
        <p>Above all I expect and demand that everyone in the room behave in a responsible and courteous manner. We will show the utmost respect for the property of others and the school. The two most important words now entering your vocabulary are discipline and respect</p>
        <ol>
            <li>Arrive on time and ready to work. The materials that you will need to available everyday
                include a three-ring notebook, paper, graph paper, pens, pencils, and a scientific calculator.</li>
            <li>Good attendance is of the utmost importance. Three tardies will result in a U in work habits for the report card.</li>
            <li>Do all of your work! Turn in your assignments on time! I do not accept late work. Make up your work from absences immediately. Expect to make up tests on your own time. This is taken care of at 7:00 AM.</li>
            <li>Be aware that the rules of the school apply at all times. I will require parent conferences
                for students who prove to be disruptive.</li>
        </ol>
    </section>
    <section class="article Regular hidden">
        <h2>Course Outline</h2>
        <p>The purpose of this class is to examine the concepts and ideas of chemistry. It requires the use of many mathematical techniques and applications of technology as they relate to laboratory skills and data acquisition. Many current research areas will be emphasized to provide a background necessary for student research. The major difference between this class and the regular chemistry course is the level of research that is expected of students and the mathematical detail that is used in the course. The topics we will be covering this semester are:</p>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>The Mathematical Basis of Chemistry</td>
                </tr>
                <tr>
                    <td>Atoms, Molecules, and Ions</td>
                </tr>
                <tr>
                    <td>The Periodic Table and Structure of Molecule</td>
                </tr>
                <tr>
                    <td>Chemical Reactions and Quantitative Changes in Reactions </td>
                </tr>
                <tr>
                    <td>Light and its Application</td>
                </tr>
            </tbody>
        </table>
        <h2>Representative Objects</h2>
        <p>Students will have met the major objectives of the course when they:</p>
        <ol>
            <li>Identify as important to chemistry such activities as observing, describing, classifying, and testing.</li>
            <li>Demonstrate in laboratory work, manipulative skills that result in measurements within acceptable limits of accuracy.</li>
            <li>Classify matter on the basis of chemical and physical properties.</li>
            <li>Demonstrate an understanding of the mole concept.</li>
            <li>Construct a theoretical model of the atom.</li>
            <li>Explain energy effects in chemical reactions.</li>
            <li>Demonstrate proficiency in chemical calculations and manipulative skills.</li>
            <li>Accept responsibility for the safe and careful handling of laboratory materials and equipment.</li>
        </ol>
        <h2>Grading</h2>
        <p>All tests are worth 100 points. The final is worth 150 points. Homework will be assigned daily and will be collected at the beginning of the class. Late homework will not be tolerated for any reason. There will be no make up work except for excused absences. </p>
        <h2>Responsibility</h2>
        <p>It seems that many students have trouble understanding what this word means. You must have your homework ready to be turned in when you arrive at the room. Do not think that you may spend 15 minutes or even 15 seconds looking for where you have put it, finishing one question, or even writing your name on it. Do these things at home. Work is due when you arrive at the room. In addition this same concept extends to bringing your materials, books, calculators, and the tools that are necessary for you to do your job, the job of being a student. Remember that while you are in my course it is my objective to prepare you for the real world and the consequences that you face will be of the same level as those in the real world. If you come without your tools, you can’t work, and hence will not be paid for that day. You will not receive credit for the work assigned and or collected that day.</p>
        <h2>Cheating</h2>
        <p>Cheating of any type will not be tolerated. If you are caught or suspected of cheating on a homework, lab or test you will be subjected to the schools cheating policy to the fullest extent. The burden of proof does not lie with the instructor</p>
        <h2><b>Classroom Rules</b></h2>
        <p>Above all I expect and demand that everyone in the room behave in a responsible and courteous manner. We will show the utmost respect for the property of others and the school. The two most important words now entering your vocabulary are discipline and respect</p>
        <ol>
            <li>Arrive on time and ready to work. The materials that you will need to available everyday
                include a three-ring notebook, paper, graph paper, pens, pencils, and a scientific calculator.</li>
            <li>Good attendance is of the utmost importance. Three tardies will result in a U in work habits for the report card.</li>
            <li>Do all of your work! Turn in your assignments on time! I do not accept late work. Make up your work from absences immediately. Expect to make up tests on your own time. This is taken care of at 7:00 AM.</li>
            <li>Be aware that the rules of the school apply at all times. I will require parent conferences
                for students who prove to be disruptive.</li>
        </ol>
    </section>
    </div>
</section>
<script>
    $(document).ready(function(){
        $(".sub-filter").on('click', "button",function(){
            var category = $(this).text();
            $(".article").addClass("hidden");
            $("." + category.slice(0,-9)).removeClass("hidden");
            $(".category").text(category);
        });
    });
</script>
<!-- jQuery -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Bootstrap JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>