<section class="container">
	<div class="col-md-8 col-md-offset-2 article">
		<h1>Keeping Track of Your Child’s Work</h1>
		<br>
		<p>School is now very different from when you were a high school student!
		<p>It is imperative that you keep track of what your children are doing in class and keep them focused!</p>
		<p> There are several things that we recommend you do on a daily basis:</p>
		<ul>
			<li>Follow the web site to know what is happening in your child’s class.This web access is for you as much as it is for them. Have your child show you how to access it from your computer.</li>
			<li>Make sure homework is done before any leisure activities are allowed. “Done” means it is ready to turn in: all questions are answered, pages are stapled together, and the heading is complete. You do not need to know how to do the work yourself in order to know that the homework is complete! If your child says they have no homework, they’re wrong! There is always something for them to be doing. Check the web page.</li>
			<li>Keep track of what your child is doing while using their computer. Game sites, Instant Messaging, and Music Swapping sites are not part of their homework</li>
			<li>Provide a dedicated homework zone that has good lighting, is quiet, has space enough, and is free from interruptions</li>
			<li>Keep televisions, radios, cell phones, and game consoles away from the work area.</li>
			<li>Your child cannot do homework with the radio or TV on</li>
			<li>Your child cannot do homework with headphones on.</li>
			<li>Make sure they have the supplies they need for studying: paper, pens, pencils, ink for the printer.</li>
			<li>Ask to see your child’s planner and to see their completed homework each night.</li>
			<li>Your child also needs a good night’s sleep, so make sure they go to bed at a reasonable time. They will not understand how to do their homework if they are so tired during the day that they sleep through their classes</li>
			<li>Short breaks of less than five minutes about every hour to get a drink of water or just to stretch the legs help to clear the mind and make studying more effective</li>
		</ul>
		<p><b>The announcements page should be read every night especially by parents</b></p>
	</div>
</section>

<!-- jQuery -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Bootstrap JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

