<section class="container">
	<div class="col-md-8 col-md-offset-2">
		<h1 class="category">AP Lecture Outlines &amp; Labs</h1>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Topic</th>
					<th>Lecture Outline</th>
					<th>Labs</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Reactions</td>
					<td><a href='/AP_Outlines/APStylereactions.pdf'>PDF</a></td>
					<td><a href='/Labs/FlameTestLab.pdf'>Flame Tests</a>, <a href='/Labs/PrecipitationLab.pdf'>Precipitation</a></td>
				</tr>
				<tr>
					<td>Stoichiometry</td>
					<td><a href='/AP_Outlines/Stoichiometry.pdf'>PDF</a></td>
					<td><a href='/Labs/APhydrate.pdf'>Hydrates</a>, <a href='/Labs/copper.pdf'>Copper</a>, </td>
				</tr>
				<tr>
					<td>Gases</td>
					<td><a href='/AP_Outlines/Gases.pdf'>PDF</a></td>
					<td><a href='/Labs/molmass.pdf'>Molar Mass of a Gas</a>, <a href='/Labs/molvol.pdf'>Molar Volume of a Gas</a></td>
				</tr>
				<tr>
					<td>Thermochemistry</td>
					<td><a href='/AP_Outlines/Thermochemistry.pdf'>PDF</a></td>
					<td><a href='/Labs/APMgO.pdf'>Formula of a Compound</a>, <a href='/Labs/calorimeter.pdf'>Determination of Enthalpy Change</a></td>
				</tr>
				<tr>
					<td>Light/Quantum Mechanics</td>
					<td><a href='/AP_Outlines/Light_quantum.pdf'>PDF</a></td>
					<td><a href='/Labs/SpecLab.pdf'>Spectroscopy Lab</a></td>
				</tr>
				<tr>
					<td>Bonding and Lewis Structures</td>
					<td><a href='/AP_Outlines/Bonding.pdf'>PDF</a></td>
					<td><a href='/Labs/APPaperChrom.pdf'>Paper Chromatography</a>, Model Building, </td>
				</tr>
				<tr>
					<td>Liquids and Solids</td>
					<td><a href='/AP_Outlines/Liquids_Solids.pdf'>PDF</a></td>
					<td>Hydrogen Bonding</td>
				</tr>
				<tr>
					<td>Colligative Properties</td>
					<td><a href='/AP_Outlines/Colligative.pdf'>PDF</a></td>
					<td><a href='/Labs/freezingpoint.pdf'>Molar Mass by Freezing Point Depression</a></td>
				</tr>
				<tr>
					<td>Kinetics</td>
					<td><a href='/AP_Outlines/Kinetics.pdf'>PDF</a></td>
					<td><a href='/Labs/crystal.pdf'>Crystal Violet</a>,<a href='/Labs/rates.pdf'>Rates of Chemical Reactions</a></td>
				</tr>
				<tr>
					<td>Equilibrium</td>
					<td><a href='/AP_Outlines/Equilibrium.pdf'>PDF</a></td>
					<td><a href='/Labs/keqLab.pdf'>Equilibrium Constant</a></td>
				</tr>
				<tr>
					<td>Acids and Bases</td>
					<td><a href='/AP_Outlines/AcidsBases.pdf'>PDF</a></td>
					<td><a href='/Labs/REDOXagents.pdf'>Oxidation-Reduction Lab</a>, <a href='/Labs/APLabTitration.pdf'>Titration Lab</a>, <a href='/Labs/REDOXTitration.pdf'>Redox Titration Lab</a></td>
				</tr>
				<tr>
					<td>Ionic Solutions</td>
					<td><a href='/AP_Outlines/Solubility.pdf'>PDF</a></td>
					<td><a href='/Labs/KSPLab.pdf'>KSP Lab</a>, Buffer Lab</td>
				</tr>
				<tr>
					<td>Thermodynamics</td>
					<td><a href='/AP_Outlines/Thermodynamics.pdf'>PDF</a></td>
					<td>None</td>
				</tr>
				<tr>
					<td>Electrochemistry</td>
					<td><a href='/AP_Outlines/Electrochemistry.pdf'>PDF</a></td>
					<td><a href='/Labs/electrochem.pdf'>Determination of Electrochemical Series</a></td>
				</tr>
				<tr>
					<td>Organic Chemistry</td>
					<td><a href='/AP_Outlines/Organic.pdf'>PDF</a></td>
					<td>Synthesis of an Organic Compound</td>
				</tr>
				<tr>
					<td>Inorganic Chemistry</td>
					<td><a href='/AP_Outlines/Inorganic.pdf'>PDF</a></td>
					<td><a href='/Labs/ComplexIonsLab.pdf'>Complex Ion Lab</a></td>
				</tr>
				<tr>
					<td>Nuclear Chemistry</td>
					<td><a href='/AP_Outlines/Radiation.pdf'>PDF</a></td>
					<td>None</td>
				</tr>
				<tr>
					<td>Miscillaneous</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
<!-- jQuery -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Bootstrap JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>