<section class="container">
	<section class="scrollspy clearfix col col-md-3 hidden-sm hidden-xs">
        <ul id='bookmark' class="affix nav nav-list" data-type="scrollspy">
            <li><a href="#unit_1"><span class="glyphicon glyphicon-bookmark"></span>Unit 1</a></li>
            <li><a href="#unit_2"><span class="glyphicon glyphicon-bookmark"></span>Unit 2</a></li>
            <li><a href="#unit_3"><span class="glyphicon glyphicon-bookmark"></span>Unit 3</a></li>
            <li><a href="#unit_4"><span class="glyphicon glyphicon-bookmark"></span>Unit 4</a></li>
            <li><a href="#unit_5"><span class="glyphicon glyphicon-bookmark"></span>Unit 5</a></li>
            <li><a href="#unit_6"><span class="glyphicon glyphicon-bookmark"></span>Unit 6</a></li>
            <li><a href="#unit_7"><span class="glyphicon glyphicon-bookmark"></span>Unit 7</a></li>
            <li><a href="#unit_8"><span class="glyphicon glyphicon-bookmark"></span>Unit 8</a></li>
            <li><a href="#unit_9"><span class="glyphicon glyphicon-bookmark"></span>Unit 9</a></li>
            <li><a href="#unit_10"><span class="glyphicon glyphicon-bookmark"></span>Unit 10</a></li>
            <li><a href="#unit_11"><span class="glyphicon glyphicon-bookmark"></span>Unit 11</a></li>
            <li><a href="#unit_12"><span class="glyphicon glyphicon-bookmark"></span>Unit 12</a></li>
            <li><a href="#unit_13"><span class="glyphicon glyphicon-bookmark"></span>Unit 13</a></li>
            <li><a href="#unit_14"><span class="glyphicon glyphicon-bookmark"></span>Unit 14</a></li>
            <li><a href="#unit_15"><span class="glyphicon glyphicon-bookmark"></span>Unit 15</a></li>
        </ul>
        <div class="clearfix"></div>
    </section>
	<div class="col-md-9">
	<h1 class='category'>Honors &amp; Regular Chemistry - Handouts</h1>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Category</th>
				<th>Handouts</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td id='unit_1' rowspan=20>Unit 1 Math and Background Information</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Observations.pdf">Observations</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Typing.pdf">Instructions for Typing Special Characters</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/densitywater.pdf">Density of Water Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Prefix.pdf">Metric Prefixes Handout</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Metric1.pdf">Metric #1</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Metric2.pdf">Metric #2</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Metric3.pdf">Metric #3</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/siffigrules.pdf">Significant Digits Rules</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/MathforChemistry.pdf">Math for Chemistry</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/MathforChemistry2.pdf">Math for Chemistry #2</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/DensityProblems.pdf">Density Problems</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/density.pdf">Density Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/aluminum.pdf">Aluminum Foil Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/GraphingWithExcel.pdf">Graphing With Excel</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/GraphingRubric.pdf">How to Make a Good Science Graph</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/RTQ1.pdf">RTQ #1 (Read the Question)</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/RTQ2.pdf">RTQ #2 (Read the Question)</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/RTG.pdf">RTG (Read the Graph)</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Artofsolvingproblems.pdf">The Art of Solving Problems</a>
				</td>
			</tr>

			<tr>
				<td id='unit_2'rowspan=13>
					Unit 2 Matter and Nomenclature</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/MatterHW.pdf">Matter Homework</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/PaperChromatography.pdf">Paper Chromatography Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/FourLiquids.pdf">Four Liquids Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Nomenclature.pdf">Nomenclature Simplified</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/FormulaGrid1.pdf">Formula Grid Homework</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/FormulaGrid2.pdf">Formula Grid #2</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/FormulaGrid3.pdf">Formula Grid #3</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/FormulaGrid4.pdf">Formula Grid #4F</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Nomenclature1.pdf">Chemical Formulas and Nomenclature Homework</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Nomenclature2.pdf">Chemical Formulas and Nomenclature Homework #2</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Nomenclature3.pdf">Chemical Formulas and Nomenclature Homework #3</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Chemical_PhysicalChange.pdf">Chemical Change Lab</a>
				</td>
			</tr>

			<tr>
				<td id='unit_3'rowspan=13>Unit 3 Chemical Reactions</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/ClassesReactions.pdf">Classes of Chemical Reactions</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Balancing1.pdf">Equation Balancing Homework</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Balancing2.pdf">Equation Balancing Homework #2</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Balancing3.pdf">Equation Balancing Homework #3</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/WordEquations.pdf">Worksheet on Word Equations</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/BalancingModels.pdf">Lab for Balancing with Models</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/ReactionPrediction1.pdf">Reaction Prediction Homework</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/ReactionPrediction2.pdf">Reaction Prediction Homework #2</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/ReactionPrediction3.pdf">Reaction Prediction Homework #3</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/ActivitySeries.pdf">Activity Series Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/PrecipitateHW.pdf">Precipitation Homework</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/PrecipitationLab.pdf">Precipitate Lab</a>
				</td>
			</tr>

			<tr>
				<td id='unit_4'rowspan=19>Unit 4 Stoichiometry and the Mole</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/molarmasshw.pdf">Molar Mass Problems</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/SimpleMoleChart.pdf">Simple Mole Chart</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Simpleraodmap.pdf">Simple Roadmap Problems</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Simpleroadmap2.pdf">Simple Roadmap Problems #2</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/roadmapfirst.pdf">Roadmap Problems</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/CountingAtoms.pdf">Counting Atoms Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Molesironcopper.pdf">Moles of Iron and Copper Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Molarity.pdf">Molarity Worksheet</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Molarity2.pdf">Molarity #2</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Mole%20Ratio%20HW.pdf">Mole Ratio Homework</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/MoleRatioHW2.pdf">Mole Ratio #2</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/MoleRatioLab.pdf">Mole Ratio Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Stoichiometry_Lab.pdf">Moles and Mass in a Chemical Reaction Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/ExcessReactantLab.pdf">Excess Reactant Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Roadmap%231.pdf">Roadmap Problems #1</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/MoreRoadmap.pdf">More Roadmap Problems</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Roadmap%232.pdf">Roadmap Problems #2 Limiting and Excess Reactants</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Roadmap%233.pdf">Roadmap Problems #3 Reactions in Solution</a>
				</td>
			</tr>


			<tr>
				<td id='unit_5'rowspan=14>Unit 5 History of Atomic Structure and Light</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/atomicpict.pdf">A History of Atomic Structure on Postage Stamps</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/QuantumPCP.pdf">The Quantum Story on Postage Stamps</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/AtomicWorksheet.pdf">Worksheet on Atomic Structure</a>
				</td>
			</tr>
			<tr>
				<td>Worksheet on Atomic Structure #2</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/WavesWS.pdf">Worksheet on Waves</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/ElectromagneticSpectrum.pdf">Electromagnetic Spectrum Worksheet</a>
				</td>
			</tr>
			<tr>
				<td>Electromagnetic Spectrum Worksheet #2</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/BohrWS.pdf">The Bohr Model</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Bohr%20WS-R.pdf">The Bohr Model for Regular Chemistry</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/IsotopesLab.pdf">Isotope Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Aufbau.pdf">Aufbau Chart</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/SpectraLab.pdf">Spectra Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/LightPractice.pdf">Review Questions on Light</a>
				</td>
			</tr>


			<tr>
				<td id='unit_6'rowspan=5>Unit 6 The Periodic Table</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Periodicity%231.pdf">Periodicity Homework #1</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Periodicity%232.pdf">Periodicity Homework #2</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/ElementsLab.pdf">Elements Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/PeriodicTableVideoLab.pdf">Periodic Table Videos Lab</a>
				</td>
			</tr>

			<tr>
				<td id='unit_7'rowspan=9>Unit 7 Bonding and Lewis Structures</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/BondingHW.pdf">Bonding Homework</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/LewisDots1.pdf">Lewis Dots # 1 Basic Structure</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/LewisDots2.pdf">Lewis Dots # 2 VSEPR Theory</a>
				</td>
			</tr>
			<tr>
				<td><a href="/Non_AP_Handouts/LewisDots3.pdf">Lewis Dots # 3 Dipole Moments</a></td>
			</tr>
			<tr>
				<td>Worksheet on Intermolecular Forces</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/VSEPRDiagrams.pdf">Shapes of Molecules Handout</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/ModelBuilding1.pdf">Model Building Lab</a>
				</td>
			</tr>
			<tr>
				<td>Hydrogen Bonding</td>
			</tr>

			<tr>
				<td id='unit_8'rowspan=6>Unit 8 Gases</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/GraphicalAnalysis%20Lab.pdf">Graphical Analysis Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/GasLawProbs.pdf">All Gas Law Problems Handouts</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/BoyleCBL.pdf">Boyle's Law CBL Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/AbsoluteZeroLab.pdf">Absolute Zero Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/chemicalpropgases.pdf">Chemical Properties of GasesLab</a>
				</td>
			</tr>

			<tr>
				<td id='unit_9'rowspan=8>Unit 9 Kinetics</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Kinetics%231.pdf">Kinetics Homework #1</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Kinetics%232.pdf">Kinetics Homework #2</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Kinetics%233.pdf">Kinetics Homework #3</a>
				</td>
			</tr>
			<tr>
				<td>Kinetics Homework #4</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/vinegarlab.pdf">Vinegar Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/ReactionRateLab.pdf">Reaction Rates Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/IodineClockLabHonors.pdf">Iodine Clock Lab</a>
				</td>
			</tr>

			<tr>
				<td id='unit_10'rowspan=7>Unit 10 Equilibrium</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/LeChatelier.pdf">Le Chetalier’s Principle Homework</a>
				</td>
			</tr>
			<tr>
				<td>Le Chetalier’s Principle Homework #2</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/LeChateliersLab.pdf">Le Chetalier’s Principle Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/EqConstant.pdf">Equilibrium Constant Practice</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Equilibrium%20Calculations.pdf">More Equilibrium Practice</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/EquilibriumICEBox.pdf">The ICE Box</a>
				</td>
			</tr>

			<tr>
				<td id='unit_11'rowspan=14>Unit 11 Acids and Bases</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/ConjugatePairs.pdf">Conjugate Acids and Bases</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/AcidBaseNames.pdf">Acid Base Names</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/pHSquares1.pdf">pH Practice #1</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/pHSquares2.pdf">pH Practice #2</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/pHSquares3.pdf">pH Practice #3</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/pHLab.pdf">pH Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Neutralization.pdf">Neutralization Questions</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/WeakAcidsPracticeProblems.pdf">Weak Acid Practice Problems</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/KaLab.pdf">Acid Dissociation Constant Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/MicrotitrationLab.pdf">Microtitration of Acetic Acid</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/TitrationProblemsHonors.pdf">Titration Problems</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/TitrationProblemsHonors-2.pdf">Titration Problems #2</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/TitrationLabHonors.pdf">Titration Lab Experiment</a>
				</td>
			</tr>


			<tr>
				<td id='unit_12'rowspan=11>Unit 12 Thermodynamics</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Heatproblems.pdf">Heat Problems</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/HeatProblems2.pdf">Heat Problems #2</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/phase.pdf">Phase Change Worksheet</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/HeatingCurveLab.pdf">Heating Curve Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/HeatofFusionLab.pdf">Phase Change Lab Heat of Fusion</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Hess'sLawProblems.pdf">Hess's Law Problems</a>
				</td>
			</tr>
			<tr>
				<td>Hess’s Law Problem #2</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/HeatofReactionLab.pdf">Hess's Law Lab</a>
				</td>
			</tr>
			<tr>
				<td>Thermochemistry Vocabulary Assignment</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/QualitativeThermodynamicChange.pdf">Predicting Thermodynamic Change</a>
				</td>
			</tr>


			<tr>
				<td id='unit_13'rowspan=5>Unit 13 Electrochemistry</td>
			</tr>
			<tr>
				<td>Electrochemistry HW</td>
			</tr>
			<tr>
				<td>Worksheet on EMF</td>
			</tr>
			<tr>
				<td>Redox Agents Lab</td>
			</tr>
			<tr>
				<td>Electrochemical Cell Lab</td>
			</tr>


			<tr>
				<td id='unit_14'rowspan=11>Unit 14 Organic Chemistry</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Functionalgroups.pdf">Functional Group Handout</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/RecognizingFunction.pdf">Identifying Functional Groups</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/OrganicNomenclature1.pdf">Organic Nomenclature</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/OrganicNomenclature2.pdf">Organic Nomenclature #2</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Orgreaction1.pdf">Organic Reactions #1</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/Orgreaction2.pdf">Organic Reactions #2</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/OrganicCompoundsLab.pdf">Functional Groups Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/OrganicIsomerLab.pdf">Isomer Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/PreparationofEsters.pdf">Synthesis of Esters Lab</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/OrganicReactionsLab.pdf">Organic Reactions Lab</a>
				</td>
			</tr>

			<tr>
				<td id='unit_15'rowspan=4>Unit 15 Nuclear Chemistry</td>
			</tr>
			<tr>
				<td>Decay Equation Questions</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/HalfLifePractice.pdf">Half Life Questions</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Non_AP_Handouts/HalfLifeLab.pdf">Half Life of a Penny Lab</a>
				</td>
			</tr>
		</tbody>
	</table>
<style>
	#bookmark>li>a{
		padding: 5px 30px 5px 15px ;
	}
</style>
<script>
	$(document).ready(function(){
		var $window = $(window);
        $('section.scrollspy').each(function(){
            var $obj = $('.scrollspy .nav'); // assigning the object
            $(window).scroll(function() {
                if ($window.scrollTop() < 355 ) {
                    var yPos = 355-$window.scrollTop();
                }
                else{
                    var yPos = 5;
                }
                $obj.css({"top" : yPos + "px" });
            });
        });
    });
</script>
<!-- jQuery -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Bootstrap JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>