<section class="container">
	<div class="col-md-8 col-md-offset-2">
	<h1 class='category'>Honors Chemistry - Practice Tests</h1>
	<div class="btn-group sub-filter control">
        <button type="button" class="btn btn-default">Honors Chemistry</button>
        <button type="button" class="btn btn-default">Regular Chemistry</button>
    </div>
    <table class="table table-striped table-hover honors">
    	<thead>
    		<tr>
    			<th>Unit</th>
    			<th>Topic</th>
    			<th>Test</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td>Unit 1</td>
    			<td>Math and Background Information</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 2</td>
    			<td>Matter and Nomenclature</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 3</td>
    			<td>Chemical Reactions</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 4</td>
    			<td>Stoichiometry and the Mole</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 5</td>
    			<td>History of Atomic Structure and Light</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 6</td>
    			<td>The Periodic Table</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 7</td>
    			<td>Bonding and Lewis Structures</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 8</td>
    			<td>Gases</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 9</td>
    			<td>Kinetics</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 10</td>
    			<td>Equilibrium</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 11</td>
    			<td>Acids and Bases</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 12</td>
    			<td>Thermodynamics</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 13</td>
    			<td>Electrochemistry</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 14</td>
    			<td>Organic Chemistry</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 15</td>
    			<td>Electrochemistry</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 16</td>
    			<td>Nuclear Chemistry</td>
    			<td>PDF</td>
    		</tr>
    	</tbody>
    </table>
    <table class="table table-striped table-hover regular hidden">
    	<thead>
    		<tr>
    			<th>Unit</th>
    			<th>Topic</th>
    			<th>Test</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td>Unit 1</td>
    			<td>Math and Background Information</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 2</td>
    			<td>Matter and Nomenclature</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 3</td>
    			<td>Chemical Reactions</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 4</td>
    			<td>Stoichiometry and the Mole</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 5</td>
    			<td>History of Atomic Structure and Light</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 6</td>
    			<td>The Periodic Table</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 7</td>
    			<td>Bonding and Lewis Structures</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 8</td>
    			<td>The Mole</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 9</td>
    			<td>Stoichiometry</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 10</td>
    			<td>Kinetics</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 11</td>
    			<td>Gases</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 12</td>
    			<td>Equilibriium</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 13</td>
    			<td>Acids and Bases</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 14</td>
    			<td>Thermodynamics</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 15</td>
    			<td>Electrochemistry</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 16</td>
    			<td>Organic Chemistry</td>
    			<td>PDF</td>
    		</tr>
    		<tr>
    			<td>Unit 17</td>
    			<td>Nuclear Chemistry</td>
    			<td>PDF</td>
    		</tr>
    	</tbody>
    </table>
    <p class="caption">The pdf files for practice tests are typically uploaded the day before the test. The practice tests are designed for you to find out if you have mastered the material in a chapter the day before the test is given. Instructors will not answer any questions about practice tests until the day of the actual test. That day an answer key will be posted and tutors will be available. It makes no sense for the teacher to show you how to do the test since they are not the ones taking the tests. They are designed for you to do on your own!</p>
	</div>
</section>
<script>
	$(document).ready(function(){
        $(".sub-filter").on('click', "button", function(){
            var category = $(this).text();
            if (category == "Honors Chemistry"){
            	$("table").addClass("hidden");
            	$('.honors').removeClass("hidden");
            	$('.category').text("Honors Chemistry - Practice Tests");
            }else{
            	$("table").addClass("hidden");
            	$('.regular').removeClass("hidden");
            	$('.category').text("Regular Chemistry - Practice Tests");
            }
        });
    });
</script>
<!-- jQuery -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Bootstrap JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>