<section class="container">
	<div class="col-md-8 col-md-offset-2 article">
		<h2>Chemistry Club</h2>
		<p>Sorry this page is currently under development. Please try again later</p>
</section>
<!-- jQuery -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Bootstrap JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>