<section class="container">
	<div class="col-md-8 col-md-offset-2 article">
		<h1>Larry Quimby</h1>
		<br>
		<p><%= image_tag('quimby_profile.jpg', width: '130px', class: 'profile', align: 'left') %>Mr. Quimby currently teaches Physics and Chemistry at Francisco Bravo Medical Magnet High School. He is active with the group of teachers that run the annual Physics Students Day at Magic Mountain. He is also a member of The American Association of Physics Teachers and an active participant at the annual meeting for physics teachers that is held at Occidental College.
		<p>He has degrees in Physics from the California State University at Los Angeles and Astronomy from the University of California at Los Angeles. While doing the coursework leading to his teaching credential at CSULA he studied under and was greatly influenced Dr. Edwin Hirsch whose goal was to never give a lecture without at least one demonstration. Mr. Quimby participated in the Minority High School Student Research Apprentice Program sponsored by the National Institutes of Health.</p>
		<p>Prior to coming to Bravo, he taught Physics, Chemistry, Physical Science, and a few other classes at South Gate High School. He also worked part time as an instructor at CSU Dominguez Hills teaching introductory computer usage and programming classes. He is also involved heavily with the Chemistry Outreach program here at Bravo.</p>
		<p><b>Email: lquimby@lausd.net</b></p>
	</div>
</section>
<!-- jQuery -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Bootstrap JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>