<section class="container">
	<div class="col-md-8 col-md-offset-2 article">
		<h1>Ly S. Hua</h1>
		<br>
		<p><%= image_tag('hua_profile.JPG', width: '130px', class: 'profile', align: 'left') %>Ly Hua was born in Vietnam and immigrated to Augusta, Maine when he was only a year old. He spent his early childhood (until age 7) in Augusta, then moved to Los Angeles in 1986. </p>

		<p>Mr. Hua grew up in East Los Angeles and attended Bravo Medical Magnet from 10th to 12th grade. He graduated in 1997 after experiencing many of the opportunities Bravo had to offer. Such activities included the Academic Decathlon, Varsity Track and Field, Junior Statesmen of America, and Varsity Basketball. He was also the Valedictorian speaker for his graduating class. </p>
		<p>After Bravo, Mr. Hua attended the University of California, San Diego. He graduated in 2001 with a Biochemistry/Molecular Biology Degree. </p>
		<p>In 2003, Mr. Hua was invited to return to Bravo as a science teacher. The chance to work alongside his past coaches, teachers, and mentors was an opportunity he could not refuse. Since then, Mr. Hua has taught Integrated Science, Biology, Physiology, and Chemistry. Mr. Hua would also like to start a Biochemistry/Molecular Biology electives course for students with a passion for science. Since his return, Mr. Hua has also helped coach J.V. Boys Basketball, Track and Field, and was part of the trio of coaches that helped put Bravo's Swim Team on the map in its first year.</p>
		<p>Away from school, Mr. Hua enjoys basketball, weight-training, and swimming.</p>
		<p><b>Email Mr. Hua: lsh4010@epals.lausd.k12.ca.us </b></p>
	</div>
</section>
<!-- jQuery -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Bootstrap JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>