<section class="container">
	<div class="col-md-8 col-md-offset-2 article">
		<h1 class='category'>Michael Morgan</h1>
		<p class='email'><b>Email: mmorgan@lausd.net</b></p>
		<h2>Background Information</h2>
		<p><%= image_tag('morgan_profile.jpg', width: '130px', align: 'left',class: 'profile') %>Michael Morgan is currently the Honors and Advanced Placement Chemistry teacher at Francisco Bravo Medical Magnet High <span class=GramE>School .</span>
		In addition to working at Bravo he has taught at four other LAUSD high schools.
		Before coming to LAUSD he taught freshman chemistry at the <a
		href="http://www.chemistry.ucsc.edu/">University of California at Santa Cruz</a>
		part time while working on his degree at UCSC under the direction of Professor <a
		href="http://www.chemistry.ucsc.edu/faculty/singleton.php?&amp;singleton=true&amp;cruz_id=fandrews">Frank
		C. Andrews </a>(along with <a
		href="http://www.tu.edu/faculty_staff/ellerby_michael.prof.html">H. Michael <span
		class=SpellE>Ellerby</span></a>) whose research groups area of interest was the
		Statistical Mechanics of hard dense particle fluids and Theoretical Chemistry
		especially Thermodynamics. Till this day the areas of chemistry called Physical
		Chemistry are still his favorites to teach. However, chemical education held a
		much stronger interest for Mr. Morgan. Since UCSC he has become heavily
		involved in the field of Chemical Education. He has served twice as a fellow of
		the <a href="http://ice.chem.wisc.edu/">Institute for Chemical Education</a> at
		the <a href="http://www.chem.wisc.edu/">University of Wisconsin at Madison</a>
		working for <a href="http://www.chem.wisc.edu/users/jwmoore">Professor John W.
		Moore</a>. The areas of interest researched included the use of <span class=GramE>video discs</span>
		and computers in chemical education and lecture demonstrations.</p>
		<p>For many years Mr. Morgan wrote a regular column entitled &quot;Ideas From
		the Coast&quot; for the now defunct journal &quot;Connecting with
		Chemistry&quot;, was heavily involved in the local <a href="http://www.scalacs.org">American
		Chemical Society</a> section and their yearly &quot;Update for Chemistry
		Teachers&quot;, and coordinated the Science Outreach Program for Bravo. In
		addition he has served since 1992 as a member of the editorial board for the<a
		href="http://jchemed.chem.wisc.edu/JCESoft/"> Journal of Chemical Education:
		Software</a>. Over the past twenty years he has presented over 100 workshops,
		conferences, and lecture demonstration shows on topics ranging from Chemistry
		in our Everyday Lives to Chemical Philately A Perforated History of Chemistry.
		He and his colleagues Larry Quimby and <span class=SpellE>Lanny</span> Larsen
		provided training to all the new science teachers entering LAUSD through the
		district's &quot;District Intern Program&quot;. In addition they wrote the
		course of study that the Intern program used for teaching all science interns
		about Standards Based Instruction.</p>
		<p>In 1997 Mr. Morgan was invited to join a group headed by the late <a
		href="http://en.wikipedia.org/wiki/Glenn_T._Seaborg">Glenn Seaborg</a> to write
		the <a href="http://www.cde.ca.gov/be/st/ss/index.asp">California State Science
		Academic Content <span class=SpellE>Standards</span></a>. In 1998 both Larry
		Quimby and <span class=SpellE>Lanny</span> Larsen joined the project and worked
		together to develop what are considered some of the most comprehensive
		standards written for science education. These standards have been adopted by
		the state of California and are now in place statewide.</p>
		<h2>Awards &amp; Accomplishments</h2>
		<p>Since 2003 he has been coaching academic competition teams for Bravo
		including Science Bowl, Popsicle Stick Bridge Building, Ocean Sciences Bowl, <span
		class=SpellE>Chemistry</span> Olympiad, Biology Olympiad, Math Olympiad, and
		Physics Olympiad. This has lead Bravo to many trophies including a Third Place
		(2011) Fourth Place (2008) in Science Bowl, Three First Places (2007, <a
		href="BRAVO_CIVIL_ENGINEER_AWARD.PDF">2009</a>, and <a
		href="BravoBridgeBuilders2011.pdf">2011</a>), one Second Place (2013), and four Third <span class=GramE>Places(</span>2008,
		<a href="Bravo%20HS%20Bridge%20Team.pdf">2010</a>, and <a
		href="Bridges2012Press.pdf">2012</a>, and 2013) in Bridge Building, fourteen semi
		finalists in Chemistry Olympiad (<a
		href="NR%20-Chemistry%20Olympiad-ds%2004-12-12.pdf">including two recognized
		with Honors</a>), seventeen in Biology Olympiad, nine in Math Olympiad, and two
		in physics including one student who was named to <a
		href="NR%20Zach%20Markosgptds.pdf">Team USA</a>. In fact 2013 was a <a href="BravoOlympiadgptds.pdf">banner year</a> for Olympiads at Bravo.</p>

			<ol>
				<li>In 2014 he was named a <a href="http://www.unitedwayla.org/our-work/ensure-children-youth-succeed/teachers-to-watch/">United Way Los AngelesTeacher to Watch</a>.</li>

				<li>In 2013 the American Chemical Society named him <a
				href="http://www.wrm2013.org/awards.html">Chemistry Educator of the Year</a>
				for the Western United States.</li>

				<li>In 2013 he was named a semifinalist for LA County Teacher of the Year.</li>

				<li>In 2013 and 2014 he was named an LAUSD <a href="LAUSDTOYsgptds.pdf">Teacher of the
				Year</a>.</li>

				<li>In 2010 he received the Southern California <a
				href="BRAVO%20HS%20TEACHER%20AWARDED%20ACS%20AWARDREV.pdf">American Chemical
				Society Outstanding High School Chemistry Teacher Award</a>. </li>

				<li>In 2010 he received and <a href="http://mit.edu/inspire/winners.html">MIT
				Inspirational Teacher Award</a>.</li>

				<li>In 2009 <span class=GramE>he was recognized by the LAUSD School Board</span>
				for his coaching of Bridge Building. </li>

				<li>In 2009 he was a<a
				href="http://www.cherryblossomfestivalsocal.org/pages/priorawardwinners/priorteachers.html">
				Cherry Blossom Festival</a> &quot;Teachers Making a Difference&quot; award
				winner. </li>

				<li>In 2004 Mr. Morgan was named a Los Angeles Dodger's Hero of the Hispanic
				Community for his work with the students and teachers of LAUSD.</li>

				<li>In 1996 Mr. Morgan was the inaugural winner of the <a
				href="http://www.usc.edu/uscnews/stories/1643.html">USC-GLATSA </a>(Greater Los
				Angeles Teachers of Science Association) Science Teaching Achievement Award for
				his work in Chemical Education.</li>
			</ol>
		<h2>Photos &amp; Interests</h2>
		<p><span class=GramE>With Many <span class=SpellE>Mota</span> of the Los Angeles Dodgers.</span> </p>
		<p><%= image_tag('morgan_baseball.JPG', class: 'img-responsive') %></p>
		<p>With Richard Zare of Stanford University getting the 2013 ACS Western Regional Award</p>
		<p><%= image_tag('morgan_awards.jpg', class: 'img-responsive') %></p>
		<p>Photographed for the 2014 United Way Teachers Making a Difference Award</p>
		<p><%= image_tag('morgan_class.jpg', class: 'img-responsive') %></p>
		<p>Outside of School Mr. Morgan is an avid Collector of postage stamps dealing
		with science and is President of the <a href="http://www.cpossu.org">Chemistry
		and Physics on Stamps Study Unit</a> of the American topical Association, loves
		cooking Bicycle riding, and listening to Progressive Rock Music including
		Genesis, King Crimson, Rush, <span class=SpellE>Jethro</span> <span
		class=SpellE>Tull</span>, and The Moody Blues. He and his wife live in Redondo
		Beach California.</p>
		<p>If you would like to learn more about Mr. Morgan's interests please visit the following <span class=GramE>world wide web</span> sites. </p>

		<p>The Chemical Education group at UW Madison: </p>

		<p><a href="http://jchemed.chem.wisc.edu/">http://jchemed.chem.wisc.edu</a> </p>

		<p>The American Chemical Society: </p>

		<p><a href="http://www.acs.org/">http://www.acs.org</a></p>

		<p>The Chemistry and Physics on Stamps Study unit.</p>

		<p><a href="http://www.cpossu.org/">http://www.cpossu.org</a></p>

</section>

<!-- jQuery -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Bootstrap JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

